{% extends "index.twig" %}

{% block title %}Users{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content%}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Money</th>
            <th>Has visa</th>
        </tr>
        </thead>
        <tbody>
            {% if user is null %}
                <tr><td colspan="5">No User Found</td></tr>
            {% else %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.money }}</td>
                    <td>{{ user.hasVisa ? '1' : '0' }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}